#scoreboard {
    width: 310px;
    text-align: center;
    margin-left: 68%;
}

p {
    color: #fff;
    font-size: 20px;
    padding: 3%; 
}

/* adjust mobile responsiveness */
@media only screen and (min-width: 768px) {
    #scoreboard {
        margin-left: 60%;
        width: 320px;
    } 
}

@media only screen and (max-width: 640px) {
    #scoreboard {
        margin-left: 25%;
    } 
    p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 414px) {
    #scoreboard {
        margin-left: 0%;
    } 
    p {
        font-size: 16px;
    }
}