.navbar {
    background-color: #FF0971;
    border: none;
}

.navbar-brand {
    font-size: 36px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

/* adjust mobile responsiveness */
/* @media only screen and (max-width: 411px) {
    
    }
} */