#instructionsDisplay {
    width: 70%
}

.jumbotron {
    background-color: black;
    color: gray;
    /* background-color: rgb(223, 222, 222); */
    padding: 5px;
    margin-top: 8%;
    border: .5px solid #FF0971;
}

.jumbotron>hr {
    border-top-color: #FF0971;
}


/* adjust mobile responsiveness */
@media only screen and (max-width: 812px) {
    .jumbotron {
        margin-top: 15%;
    }
}

@media only screen and (max-width: 640px) {
    #instructionsDisplay {
        width: 95%;
    }
    .jumbotron {
        margin-top: 25%;
    }
}

@media only screen and (max-width: 414px) {
    .jumbotron {
        margin-top: 40%;
    }
}
